modules = ["nodejs-20", "rust-stable", "python-3.12"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd blockchain-node && cargo run --release"]
build = ["sh", "-c", "cd blockchain-node && cargo build --release"]

[workflows]
runButton = "Fixed Blockchain Node"

[[workflows.workflow]]
name = "Run Blockchain Node"
author = 43857852
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd blockchain-node && cargo run --release"

[[workflows.workflow]]
name = "Full Quantora Stack"
author = 43857852
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd blockchain-node && cargo run --release"

[[workflows.workflow]]
name = "Fixed Blockchain Node"
author = 43857852
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd blockchain-node && cargo run --release"
