{
  "openapi": "3.0.0",
  "info": {
    "title": "Quantora Exchange API",
    "version": "1.2.3",
    "description": "Production API for Quantora Exchange. All endpoints require HTTPS and Bearer authentication."
  },
  "servers": [
    { "url": "https://api.quantora.com" }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "summary": "Register a new user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "password": { "type": "string" }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "User registered" },
          "400": { "description": "Invalid input" }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Login",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "email": { "type": "string" }, "password": { "type": "string" } }, "required": ["email", "password"] } } } },
        "responses": {
          "200": { "description": "Authenticated" },
          "401": { "description": "Unauthorized" }
        }
      }
    }
    // ... Add all production endpoints here ...
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    { "BearerAuth": [] }
  ]
}